.homepage {
  background: lightgray;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.homepage-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
  padding-right: 25px;
  white-space: nowrap;
}

.homepage > h2 {
  width: 100%;
}

.homepage-grid > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height: 230px;
}
